[submodule "AppleInfos"]
	path = AppleInfos
	url = git@github.com:arubdesu/AppleInfos.git
[submodule "MSinfos"]
	path = MSinfos
	url = git@github.com:arubdesu/MSinfos.git
[submodule "MozInfos"]
	path = MozInfos
	url = git@github.com:arubdesu/MozInfos.git
[submodule "AdobInfos"]
	path = AdobInfos
	url = git@github.com:arubdesu/AdobInfos.git
[submodule "OmniInfos"]
	path = OmniInfos
	url = git@github.com:arubdesu/OmniInfos.git
[submodule "tehGoogInfos"]
	path = tehGoogInfos
	url = git@github.com:arubdesu/tehGoogInfos.git
